body {
    color: black;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.main-header {

    text-align: center;
}

.about-me-main-container {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;

}

.biography-section-image,
.section-image {
    border: 0.5px solid black;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px #F5F5F5;
}

.about-me-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.section-paragraph {
    text-align: justify;
    line-height: 1.50em;
}

.about-me-unordered-list {

    list-style-image: linear-gradient(to left bottom, black, white);

}

.about-me-list-items {
    text-align: left;
    line-height: 1.66em;
}
.section-heading {

    font-size: 20px;
}

h2,h3{
text-decoration: underline black solid 1px;
text-transform: capitalize;
}

